[flake8]
max-line-length = 125
max-module-members = 7

ignore =
    # Missing parameter(s) in Docstring
    DAR101,

    # Missing "Returns" in Docstring
    DAR201,

    # Missing exception(s) in Raises section
    DAR401,

    # Found upper-case constant in a class
    WPS115

    #  Found too long ``try`` body length
    WPS229,

    # F-strings is OK
    WPS305,

    # Found class without a base class - dataclass used
    WPS306,

    # Found `%` string formatting - simple logging format
    WPS323,

    # Found walrus operator
    WPS332,

    # Found wrong keyword: pass
    WPS420,

    # Standard pseudo-random generators are not suitable for security/cryptographic purposes is OK for the project
    S311,


per-file-ignores =
    # WPS112 Found private name pattern: __stop_request
    # WPS347 Found vague import that may cause confusion: F
    # WPS432 Found magic number

    app/emulator.py: WPS112,
    app/observer.py: WPS347,
    app/settings.py: WPS432,
